<template>
    <div>
        <h1>Hello vue</h1>
    </div>
</template>
<script>
import {mapState} from 'vuex'
import Navigation from './components/Navigation'
export default {
    name: 'app',
}
</script>
<style lang="scss" scoped>

</style>


